<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet"type="text/css"  href="css/bootstrap.css"/>
    <link rel="stylesheet" type ="text/css" href="css/styleabout.css"/>
</head>

<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body ">

                    <a href="/home" class="btn btn-primary">Home</a>
                    <a href="/service" class="btn btn-primary">Service</a>
                    <a href="/about" class="btn btn-primary">About us</a>
                    <a href="/contact" class="btn btn-primary">Contact</a>
                    <a href="/logout" class="btn btn-danger">Logout</a> <!-- ตัวอย่างปุ่ม ลิงค์ไปหน้าอื่นๆ เพิ่ม Get ในหน้า index.js-->
            </div>
            
        </div>
        <div class="section">
            <div class="container">
                <div class="title">
                    <h1>About Tree Care</h1>
                </div>
                <div class="content">
                    <div class="article">
                        <h3>ทุกวันนี้มีผู้สนใจในต้นไม้มากขึ้น ในบางวันเราอาจจะหมดเวลาไปกับธุระทำให้เวลาใส่ใจต้นไม้ลดลง ดังนั้นไม่ว่าคุณจะเดินทางไกล ทำงานดึก หรือต้องการพักผ่อน สามารถใช้บริการ Tree Care ได้ทุกเมื่อ และพร้อมจะให้บริการคุณเเละต้นไม้ของคุณ เพียงแค่คลิกเลือกบริการ งานสวนของคุณจะเป็นเรื่องง่าย</h3><br>
                        <h3>สำหรับบุคคลที่รักและชื่นชอบต้นไม้ที่ยินดีจะช่วยเหลือพ่อแม่ต้นไม้ท่านอื่น  ลงทะเบียนกับเรา! เพียงแค่บอกว่าคุณต้องการให้บริการด้านไหน คุณก็สามารถหาเงินจากความถนัดของคุณได้</h3><br><br><br><br><br><br>
                    </div>
                </div>
                <div class="image-section">
                    <img src="../image/TCA.jpg">
                </div>    
            </div>
            <br>
    
            <section class="vision">
            <div class="btn-service" >
                <a href="#" class="btn1">รับประกันการจอง</a>
                <a href="#" class="btn2">คุ้มครองฟรี</a>
                <a href="#" class="btn3">ติดต่อได้ตลอด</a>
                <a href="#" class="btn4">มีหลักฐานการทำงาน</a>
            </div>
            </section>
    
        </div>

    </div>
    
</body>
</html>