<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ช่องทางการชำระเงิน</title>
    <link rel="stylesheet"type="text/css"  href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/stylepay.css"/>
</head>
<body>
      <div class="container-fluid">
        <div class="card">

            <div class="card-body ">

                    <a href="/home" class="btn btn-primary">Home</a>
                    <a href="/service" class="btn btn-primary">Service</a>
                    <a href="/about" class="btn btn-primary">About us</a>
                    <a href="/contact" class="btn btn-primary">Contact</a>
                    <a href="/logout" class="btn btn-danger">Logout</a> <!-- ตัวอย่างปุ่ม ลิงค์ไปหน้าอื่นๆ เพิ่ม Get ในหน้า index.js-->
            </div>
            
        </div>

        <div class="container">
            <h1>ช่องทางการชำระเงิน</h1>
            <h2>กรุณาชำระเงินเข้าบัญชี บริษัท ทรีแคร์ จำกัด</h2>
            
         <div class="image-section">
                <img src="../image/qr-code.png">
        </div>
        
       
        <a href="/pay2" class="btn-pay">ต่อไป</a>
        

    </div>    

</body>
</html>