<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Service</title>
    <link rel="stylesheet"type="text/css"  href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/styleser.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"/>
    
</head>
<body>
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">

                    <a href="/home" class="btn btn-primary">Home</a>
                    <a href="/service" class="btn btn-primary">Service</a>
                    <a href="/about" class="btn btn-primary">About us</a>
                    <a href="/contact" class="btn btn-primary">Contact</a>
                    <a href="/logout" class="btn btn-danger">Logout</a> <!-- ตัวอย่างปุ่ม ลิงค์ไปหน้าอื่นๆ เพิ่ม Get ในหน้า index.js-->
            </div>
            
        </div>
        <section class="service">  <!---id="service"-->
        
            <div class="vidio">
                <video src="image/video.mp4" muted loop autoplay></video>
            </div>
            <div class="btn-service">
                <a href="/rodnam" class="btn1">บริการฝากรดน้ำ</a>
                <a href="/transpot" class="btn2">บริการขนส่งต้นไม้</a>
                <a href="/repair" class="btn3">บริการซ่อมแซมต้นไม้</a>
                <a href="/kratu" class="btn4">บริการให้คำปรึกษา</a>
            </div>
            
            
            
        </section>
 
    </div>
    
</body>
</html>